<div
    hx-get="/tasks"
    hx-trigger="every 2s"
    hx-swap="outerHTML"
>
    <ul id="taskList">
        {{ range .Tasks }}
            <li class="flex justify-between my-2 text-slate-700">
                {{ .Title }}
                <form
                    hx-delete="/tasks/{{ .Id }}"
                    hx-target="closest li"
                    hx-swap="outerHTML"
                >
                    <button
                        class="rounded-full w-8 h-8 focus:text-white focus:bg-red-500 focus:outline-none focus:shadow hover:text-white hover:bg-red-500 hover:shadow"
                        type="submit"
                    >
                        x
                    </button>
                </form>
            </li>
        {{ end }}
    </ul>
</div>