<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
</head>
<body>
    <div class="w-full min-h-screen bg-gray-100 flex justify-center items-center">
        <div class="bg-white rounded p-8 shadow w-96">
            <h1 class="text-3xl font-bold text-violet-600 mb-4">{{ .Title }}</h1>
            <div
                hx-get="/tasks"
                hx-trigger="load"
                hx-swap="outerHTML"
            >
            </div>
            <form
                hx-post="/tasks"
                hx-target="#taskList"
                hx-swap="beforeend"
                hx-on::after-request="this.reset()"
                class="flex justify-between"
            >
                <input
                    type="text"
                    name="title"
                    placeholder="New task"
                    class="flex-1 border-b border-slate-300 mr-4 focus:outline-none focus:border-violet-600"
                    autofocus
                />
                <button
                    class="bg-slate-700 rounded-full text-white w-8 h-8 shadow focus:outline-none focus:bg-violet-600 hover:bg-violet-600"
                    type="submit"
                >
                    +
                </button>
            </form>
        </div>
    </div>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
</body>
</html>